/* Default styles for larger screens */
.myAbout {
    width: 100%;
    height: 600px;
    background-image: url('/public/pic/bg-abouti.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forTexts {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 27px;
}

.forTexts h1 {
    color: white;
    font-size: 50px;
}

.forTexts p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.forTexts h3 {
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forPicDiv {
    width: 600px;
    height: 450px;
    background-image: url('/public/pic/nkar-abouti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: none;
    border-radius: 25px;
    padding-bottom: 20px;
}

.forIconAndText {
    width: 550px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.914);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.forIconAndText h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.forIconAndText p {
    color: darkgrey;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forIcon {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50px;
    background-color: rgb(240, 200, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/* Media  */
@media screen and (max-width: 768px) {
    .myAbout {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .forTexts {
        width: 100%;
        height: auto;
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .forTexts h1 {
        font-size: 40px;
    }

    .forTexts p {
        font-size: 16px;
    }

    .forTexts h3 {
        font-size: 20px;
    }

    .forPicDiv {
        width: 100%;
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .forIconAndText {
        width: 100%;
        height: auto;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .forIconAndText h1 {
        font-size: 24px;
    }

    .forIconAndText p {
        font-size: 14px;
    }

    .forIcon {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
}
